.phone {
    background-color: rgb(0, 0, 0);
    width: 640px;
}

.ownstory {
    width: 80px;
    position: relative;
    right: ;
    top: 80px;
}

.storyplus {
    position: absolute;
    right: 10px;
    top: 60px;
    background-color: rgb(0, 149, 246);
    border-radius: 50%;

}

.avatar {
    width: 80px;


    right: 220px;
    top: 80px;
    border-radius: 50%;
    margin-left: 15px;

}


.personen {
    position: relative;
    border: 3px solid rgb(255, 95, 22);


    border-radius: 50%;
    width: 80px;

    left: 40px;
    margin-left: 15px;

}

.hotbar {
    margin: 33px;
    background-color: rgb(0, 0, 0);
}

.likes {
    color: white;
    position: relative;
    right: 115px;
}

.beschrieb {
    color: white;
    position: relative;
    right: 40px;
}



.logo {
    position: relative;
    right: 113px;
    color: white;
    width: 165px;
}



.sharetop {
    position: relative;
    left: 115px;
}

.hearttop {
    position: relative;
    left: 110px;
}

.plusbutton {
    position: relative;
    left: 102px;

}

.heartbottom {
    position: relative;
    right: 179px;
}

.comment {
    position: relative;
    right: 169px;
}

.sharebotttom {
    position: relative;
    right: 159px;
}

.speichern {
    position: relative;
    left: 173px;
}

.kommentar {
    color: white;
    position: relative;
    right: 105px;
}

.kommentier-picture {
    width: 30px;
    position: relative;
    right: 110px;
}

.profile-name {
    color: white;
    position: relative;
    right: 113px;
}

.profile-picture {
    width: 50px;
    position: relative;
    right: 116px;
    border: 2px solid rgb(255, 95, 22);
}

.bildbeschrieb {
    font-size: x-small;
    color: white;
    position: relative;
    right: 171px;
    top: 15px;
}

.dots {
    position: relative;
    left: 120px;
}

.emotes {
    position: relative;
    left: 110px;
}

.foto {
    margin: 15px;
    position: relative;
    left: 378px;
}

.textholder {
    color: rgb(0, 0, 0);

}

button {
    border-color: blue;
}